<section id="about" class="page-section">
    <div class="container">
        <div class="text-content text-center">
            <h2><em>MY </em> <span>PROFESSION</span></h2>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="">
            <div class="col-md-3 col-sm-6 col-xs-12 fade">
                <div class="service-item">
                    <div class="icon zoom">
                        <img src="../assets/img/service_icon_01.png" alt="">
                    </div>
                    <h4>HTML5</h4>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>

                    <div class="line-dec"></div>
                    <p>I am capable of doing </p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fade">
                <div class="service-item">
                    <div class="icon zoom">
                        <img src="../assets/img/service_icon_02.png" alt="">
                    </div>
                    <h4>CSS3</h4>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <div class="line-dec"></div>
                    <p>Suspendisse magna mauris, convallis vel finibus eget, lobortis dictum neque. Nam tincidunt metus nec eros dignissim consectetur. Duis mollis.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fade">
                <div class="service-item">
                    <div class="icon zoom">
                        <img src="../assets/img/service_icon_03.png" alt="">
                    </div>
                    <h4>JAVASCRIPT</h4>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <div class="line-dec"></div>
                    <p>Etiam quis ullamcorper augue. Morbi leo libero, malesuada eget eleifend eu, interdum sed augue. Sed tempor mi quis rhoncus convallis.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fade">
                <div class="service-item ">
                    <div class="icon zoom">
                        <img src="../assets/img/service_icon_04.png" alt="">
                    </div>
                    <h4>PYTHON</h4>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <div class="line-dec"></div>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent viverra, nunc et mollis fermentum.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="col-md-3 col-sm-6 col-xs-12 fade">
                <div class="service-item">
                    <div class="icon zoom">
                        <img src="../assets/img/service_icon_5.png" alt="">
                    </div>
                    <h4>JAVA</h4>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <div class="line-dec"></div>
                    <p>Curabitur non risus fringilla libero accumsan molestie et quis justo. Cras aliquam tempor sem, vestibulum facilisis dui. Mauris malesuada porta.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fade">
                <div class="service-item">
                    <div class="icon zoom">
                        <img src="../assets/img/service_icon_6.png" alt="">
                    </div>
                    <h4>C#</h4>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <div class="line-dec"></div>
                    <p>Suspendisse magna mauris, convallis vel finibus eget, lobortis dictum neque. Nam tincidunt metus nec eros dignissim consectetur. Duis mollis.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fade">
                <div class="service-item">
                    <div class="icon zoom">
                        <img src="../assets/img/service_icon_7.png" alt="">
                    </div>
                    <h4>PHP</h4>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <div class="line-dec"></div>
                    <p>Etiam quis ullamcorper augue. Morbi leo libero, malesuada eget eleifend eu, interdum sed augue. Sed tempor mi quis rhoncus convallis.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fade">
                <div class="service-item">
                    <div class="icon zoom">
                        <img src="../assets/img/service_icon_8.png" alt="">
                    </div>
                    <h4>VISUAL BASIC</h4>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <div class="line-dec"></div>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent viverra, nunc et mollis fermentum.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>