<section id="portfolio">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-4 col-sm-12 fade">
                    <div class="section-heading">
                        <h4>MY Gallery</h4>
                        <div class="line-dec"></div>
                        <p>These Project Were based on NodeJS, ASP.Net, Bootstrap CSS, HTML Newsletters, and PHP.</p>
                        <div class="filter-categories">
                            <ul class="project-filter">
                                <li class="filter" data-filter="all"><span>Show All</span></li>
                                <li class="filter" data-filter="branding"><span>OCS</span></li>
                                <li class="filter" data-filter="graphic"><span>Newsletters, and Overviews</span></li>
                                <li class="filter" data-filter="nature"><span>Webpage</span></li>
                                <li class="filter" data-filter="animation"><span>Webapp</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 fade">
                    <div class="projects-holder-3">
                        <div class="projects-holder">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 project-item mix nature">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="../assets/img/portfolio_big_item_01.jpg" data-lightbox="image-1"><img src="../assets/img/portfolio_item_01.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix animation">
                                  <div class="thumb">
                                    <div class="image">
                                            <a href="../assets/img/portfolio_big_item_02.jpg" data-lightbox="image-1"><img src="../assets/img/portfolio_item_02.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="../assets/img/portfolio_big_item_03.jpg" data-lightbox="image-1"><img src="../assets/img/portfolio_item_03.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix graphic nature">
                                    <div class="thumb">
                                        <div class="image">
                                            <a href="../assets/img/portfolio_big_item_04.jpg" data-lightbox="image-1"><img src="../assets/img/portfolio_item_04.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="../assets/img/portfolio_big_item_05.jpg" data-lightbox="image-1"><img src="../assets/img/portfolio_item_05.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix graphic animation">
                                    <div class="thumb">
                                        <div class="image">
                                            <a href="../assets/img/portfolio_big_item_06.jpg" data-lightbox="image-1"><img src="../assets/img/portfolio_item_06.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>"Tanhueco is hard working and dedicated to get the job done. He has patience and he is very detailed oriented. You cant go wrong hiring him. Highly recommend him."</p>
                            <h4>Roger Lai</h4>
                            <span>Upwork: Project Manager</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>"Tanhueco is hard working and dedicated to get the job done. He has patience and he is very detailed oriented. You cant go wrong hiring him. Highly recommend him.</p>
                            <h4>Jason Sta. Catalina</h4>
                            <span>OCS: Senior Software Developer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>"Tanhueco is hard working and dedicated to get the job done. He has patience and he is very detailed oriented. You cant go wrong hiring him. Highly recommend him."</p>
                            <h4>Joel Navarro</h4>
                            <span>Office Beacon: Team Leader</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>"Tanhueco is hard working and dedicated to get the job done. He has patience and he is very detailed oriented. You cant go wrong hiring him. Highly recommend him."</p>
                            <h4>Jhojho Marquez</h4>
                            <span>Ubisoft: QA Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>