<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>Skills</h4>
                        <div class="line-dec"></div>
                        <p>These are my skills that i have expertise on.</p>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">Front End Design</a></li>
                            <li><a href="#tab2">Data Entry Specialist</a></li>
                            <li><a href="#tab3">QA</a></li>
                            <li><a href="#tab4">Database Management</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="../assets/img/blog_item_01.jpg" alt="">
                            <div class="text-content">
                                <h4>Front-End Web-Design</h4>
                                <span><a href="#">Front-End Web-Design</a> / <a href="#">HTML/CSS/JS/PHP</a> / <a href="#">26 July 2018</a></span>
                                <p>I Started, practicing Web Design on 2018, I have learned a lot, and now I am capabale of creating responsive Design that includes dynamicity.</p>
                            </div>
                        </div>
                        <div id="tab2">
                            <img src="../assets/img/blog_item_02.jpg" alt="">
                            <div class="text-content">
                                <h4>Data Entry Specialist</h4>
                                <span><a href="#">Data Entry</a> / <a href="#">OCS/Product Management</a> / <a href="#">24 April 2020</a></span>
                                <p>I Started Managing and Listing Products and Datas inside the website since April 2020, and as of now i alreadyu managed to handle mostly 8,000 products since April.</p>
                            </div>
                        </div>
                        <div id="tab3">
                            <img src="../assets/img/blog_item_03.jpg" alt="">
                            <div class="text-content">
                                <h4>Ubisoft Web QA</h4>
                                <span><a href="#">Quality Assurance</a> / <a href="#">Web Design/Documentation</a> / <a href="#">20 October 2019</a></span>
                                <p>I was able to manage and test most products under Ubisoft, I can manage catching bugs and errors mostly, and I can create fine documentation reports.</p>
                            </div>
                        </div>
                        <div id="tab4">
                            <img src="../assets/img/blog_item_04.jpg" alt="">
                            <div class="text-content">
                                <h4>SQL Management</h4>
                                <span><a href="#">SQL</a> / <a href="#">OCS/Data Management/Data Request</a> / <a href="#">6 October 2020</a></span>
                                <p>I Started Fixing and managing Datas using SSMS(SQL Server Management Studio) under Onlinecarstereo. I can retrieve specific datas needed and fixed hidden datas that pops up on a website. </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>